
body {
  background-color: rgb(200,200,200);
  padding:0;
  margin:0;
}

.form{

  background-color: rgb(150,150,150);
  margin:0 80px;
  display:block;
  border:1px solid rgb(100,100,100);
  min-height:100%;

  box-shadow:0 4px 8px 0 rgb(175,175,175), 0 6px 20px 0 rgb(175,175,175);


}
input {

  position:relative;
  display:block;
  margin:30px;
  padding:10px;
  width:50%;

}
input[type="button"] {
  width:auto;
}
div {
  color:red;
  margin:0;
  padding:0;

}
p {
  color:red;
  font-size: 150px;
}
input[type="submit"]{
  width:auto;
  margin:auto;
  padding:auto;
}
